*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/caches/
.DS_Store
/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/
app/release

.idea/*.xml

!.idea/gradle.xml
!.idea/runConfigurations/*.xml
